.headerContainer{
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: fixed;
    top: 0;
}
.headerContainer a{
    
    width: 25%;
    background-color: teal;
    cursor: pointer;
    margin-top: 0;
    text-decoration: none;
    
}

.headerContainer a:hover{
    position: relative;
    top:2px;
    opacity: .7;

}

.headerContainer h2{
  
    color: white;
}