*{
    list-style: none;
   
}
body{
    background-color: #f1f1f1;
}


.mainContainer{
    display: inline-block;
   
}

.col{
    float: left;
    width: 50%;
    
}
.row::after{
    content: "";
    display: table;
    clear: both;
}

.row{
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 93vw;
}
.App{
    position: relative;

}

body{
    text-align: center;
    font-family: "Harmattan", sans-serif;
}

@media screen and (max-width : 600px) {
    .row{
       flex-direction: column;
       align-content: space-around
    }
    .col{
        width: 100%;
    }
    
}
.temp{
    height: 8vh;
}
@media screen and (max-width: 450px){
    .temp{
        height: 4vh;
    }
    
}